/* this is the fonts declartion */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap");

html {
  width: 100%;
  box-sizing: border-box;
  background-color: #191765;
}

body {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}